dist
release
kubectl-who-can

coverage.txt

# GoLand / IntelliJ IDEA project config files
.idea/

# Kubernetes integration test binary
test/bin/integration_test

# Directory Cache Files
.DS_Store
thumbs.db
